@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unkempt:wght@400;700&display=swap");

body,
html {
  background-color: beige;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.8;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
}

a {
  text-decoration: none;
  font-style: normal;
  color: inherit;
  transition: color 0.3s ease, transform 0.3s ease;
}

a:hover {
  transform: scale(1.05); /* Легке збільшення кнопки */
  color: var(--color-prime);
}
h2 {
  font-size: 40px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dancing Script", cursive;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.logo img {
  width: 70px;
}
.logo a {
  font-size: 30px;
  font-weight: 600;
  display: flex;
  gap: 20px;
  align-items: center;
}
.menu nav {
  display: flex;
  gap: 20px;
}
.button img {
  width: 20px;
}
.container {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  padding: 20px;
}

#cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 15px;
  text-align: center;
  z-index: 9999;
  display: none;
}

#cookie-banner p {
  margin: 0;
  font-size: 16px;
}

#cookie-banner button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
}

#cookie-banner button.decline {
  background-color: #f44336;
}

#cookie-banner button:hover {
  opacity: 0.8;
}

/* scroll */
/* Стилізація скролбару на всьому сайті */
::-webkit-scrollbar {
  width: 12px; /* Ширина вертикального скролбару */
  height: 12px; /* Висота горизонтального скролбару */
}

::-webkit-scrollbar-thumb {
  background-color: #2a3d66; /* Колір самого скролбару */
  border-radius: 6px; /* Заокруглені кути */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4b0082; /* Темніше індиго при наведенні */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Колір фону скролбару */
  border-radius: 6px; /* Заокруглені кути */
}

::-webkit-scrollbar-track-piece {
  background-color: #f1f1f1; /* Колір внутрішньої частини треку */
}

@media (max-width: 768px) {
  .container {
    min-width: 300px;
    width: 90%;
  }
}

/* Загальні стилі для бургер-меню */
.burger-menu {
  display: none; /* Ховати бургер-меню на десктопах */
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 999; /* Вищий z-index, щоб бургер-меню було зверху */
}

.burger-line {
  width: 30px;
  height: 4px;
  background-color: #333;
  border-radius: 5px;
}

/* Стилі для меню на мобільних пристроях */
@media (max-width: 768px) {
  #nav-menu {
    /* Тепер звертаємось до id */
    display: none;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 80px;
    right: 10px;
    background-color: #fff;
    color: #333;
    width: 200px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 998; /* Зробити menu менше, щоб воно не перекривало бургер */
  }

  /* Стилі для мобільного меню при відкритті */
  #nav-menu.active {
    display: flex; /* Переключаємо на відображення */
    flex-direction: column; /* Розташовуємо елементи вертикально */
  }

  /* Показати бургер-меню на мобільних пристроях */
  .burger-menu {
    display: flex;
  }
}

/* hero */
h1 {
  font-size: 45px;
  line-height: 1.3;
}
.hero {
  padding: 100px 0;
  background-image: url("./img/hero.webp");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  color: beige;
}
.hero .container {
  display: flex;
  justify-content: end;
}
.hero-container {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero-button {
  display: flex;
  gap: 30px;
}
.hero-button a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 15px;
  border-radius: 10px;
  border: solid 1px beige;
}
/* about */
.about {
  background-color: #2c304a;
  color: beige;
}

.about-container {
  display: flex;
  gap: 50px;
  margin: 100px 0;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btn-video a {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 180px;
}

.about-img img {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  border-radius: 20px;
}

.about-img img.show {
  opacity: 1;
}

/* features */

.features {
  background-color: #2c304a;
  color: beige;
  padding-bottom: 50px;
}

.features-container {
  display: flex;
  justify-content: space-between;

  gap: 30px;
}
@media (max-width: 768px) {
  .features-container {
    flex-wrap: wrap;
  }
}
.features-item {
  background-color: #3c4365;
  padding: 20px;
  border-radius: 10px;
  width: 22%; /* Adjust as necessary for responsiveness */
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.features-item i {
  font-size: 3rem;
  color: #f5a623;
  margin-bottom: 15px;
}

.features-item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.features-item p {
  font-size: 1rem;
  line-height: 1.5;
}

.features-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .features-item {
    width: 48%; /* Two items in a row on smaller screens */
  }
}

@media (max-width: 480px) {
  .features-item {
    width: 100%; /* One item in a row on mobile screens */
  }
}

/* how play */
.how-play {
  background-color: #2c304a;
  color: beige;
  padding: 50px 0;
}

.how-play-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.how-img {
  flex: 1;
  overflow: hidden;
}

.how-img img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

/* Text styling */
.how-text {
  flex: 1;
  max-width: 600px;
}

.how-text h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.how-text ul {
  list-style: none;
  padding-left: 0;
}

.how-text li {
  font-size: 1.1rem;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.how-text li i {
  font-size: 1.5rem;
  color: #f5a623;
  min-width: 40px;
}

.how-play-container:hover .how-img img {
  opacity: 1;
  transform: translateY(0);
}

/* Smooth animation for the image */
@media (max-width: 768px) {
  .how-play-container {
    flex-direction: column;
    text-align: center;
  }

  .how-img {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .how-text h2 {
    font-size: 1.5rem;
  }

  .how-text li {
    font-size: 1rem;
  }
}

/* reviews */
/* Загальні стилі для відгуків */
.reviews {
  padding: 70px 0;
}

.reviews h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.review {
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.review-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.user-photo {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 15px;
}

.user-info p {
  margin: 0;
  color: #555;
}

.user-name {
  font-weight: bold;
}

.user-location {
  font-size: 0.9rem;
  color: #777;
}

.review-rating {
  margin-bottom: 10px;
}

.star-rating {
  color: gold;
  font-size: 1.3rem;
}

.review-text {
  font-size: 1rem;
  color: #444;
  line-height: 1.6;
}

/* Для останнього відгуку без нижнього відступу */
.review:last-child {
  margin-bottom: 0;
}

/* pay */

.pay {
  background-color: #2c304a;
  color: beige;
  padding: 70px 0;
}

.pay-container {
  display: flex;
  gap: 50px;
}
.pay-img img {
  border-radius: 20px;
}

.pay-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.pay-img {
  position: relative; /* Встановлюємо контекст для позиціонування кнопки */
  display: flex;
  justify-content: center; /* Горизонтальне вирівнювання по центру */
  align-items: center; /* Вертикальне вирівнювання по центру */
  height: 100%; /* Задаємо висоту, якщо картинка не має конкретної висоти */
}

.pay-img img {
  width: 100%; /* Робимо картинку адаптивною */
  height: auto; /* Висота автоматична */
}

.btn-video-pay {
  position: absolute; /* Розміщуємо кнопку абсолютно всередині картинки */
  text-align: center;
}

.btn-video-pay a {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  color: beige;
  text-decoration: none;
  width: 170px;
}
.btn-video-pay img {
  width: 30px;
}

/* media-container */
.media {
  padding: 70px 0;
}
.media-container {
  display: flex;
  justify-content: space-between;
}

.media-container img {
  max-width: 300px;
  border-radius: 20px;
  transition: transform 0.3s ease; /* Плавний перехід при зміні розміру */
}

.media-container img:hover {
  transform: scale(1.1); /* Збільшуємо картинку на 10% при наведенні */
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }
  .about-img img {
    min-width: 300px;
    width: 100%;
  }
  .media-container {
    flex-direction: column;
    gap: 20px;

    justify-content: center;
    align-items: center;
  }
  .pay-container {
    flex-direction: column;
  }
  .container-footer {
    flex-direction: column;
    gap: 30px;
  }
  .container-footer {
    text-align: center;
  }

  .policy-menu nav {
    display: flex;
    flex-direction: column;

  }
}

.container-footer {
  display: flex;

  justify-content: space-between;
}
